.title {
    font-family: "Georgia";
    margin: 20px;
    text-align: center;
}

#totalnum {
    font-size: 6vw;
}

#mapdiv {
    width: 100%;
    height: 500px;
    font-size: 70%;
    padding: 5px 0;
    text-align: center;
    background-color: #EEEEEE;
    margin-top: 1px;
    color: #B4B4B7;
}

.top20 {
    color: red;
}
